doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Library Manager
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav(role='navigation' aria-label='Main')
        ul
          li(class=(currentPath === '/' ? 'active' : '')): a(href='/') Home
          li(class=(currentPath.indexOf('/books') === 0 ? 'active' : '')): a(href='/books') Books
          li(class=(currentPath.indexOf('/patrons') === 0 ? 'active' : '')): a(href='/patrons') Patrons
          li(class=(currentPath.indexOf('/loans') === 0 ? 'active' : '')): a(href='/loans') Loans
    main
      block content
    footer
      
